*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(gfg9.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.mainh{
    text-transform: capitalize;
    font-size: 51px;

}

.container{
    display: flex;
    justify-content: flex-start;
    flex: 1 36vw;
}

.fp{
width: 45vw;
background-color: rgba(0, 0, 0, 0.5);
color: white;
height: 42vh;
padding: 2em;
margin: 65px;
margin-left: 75px;
border-radius: 20px;

}

.fp:hover{
    background-color: #f35242;
}

.gridf{
   
    width: 50%;
    height: 100vh;
    position: relative;
    /* background-color: rgba(0, 0, 0, 0.3); */
    display: flex;
    position: relative;
    display: flex;
    justify-content: left;
    display: inline-block;
    grid-template-rows: 50px 100px;
}

.ftext{
    font-size: 25px;
    margin: 30px;
    
}









.main{
    background-color: rgba(0, 0, 0, 0.3);
    width: 60%;
    height: 100vh;
    
}




.box1{
    background-color: #201f1f;
display: inline-block;
position: relative;
top: 82px;
left: 95px;
color: white;
padding: 29px;
border-radius: 19px;
font-size: 20px;
}

.box2{
    display: inline-block;
background-color: white;
position: relative;
width: 492px;
padding: 19px 1px 6px 19px;
top: 80px;
height: 126px;
left: 92px;
border-radius: 8px;
width: 445px    
}

.box3{
    background-color: #201f1f;
display: inline-block;
position: relative;
top: 116px;
left: 95px;
color: white;
padding: 29px;
border-radius: 19px;
font-size: 20px;
}

.box4{
    display: inline-block;
background-color: white;
position: relative;
width: 492px;
padding: 19px 1px 6px 19px;
top: 114px;
height: 126px;
left: 91px;
border-radius: 8px;
width: 445px       

}.box5{
    background-color: #201f1f;
display: inline-block;
position: relative;
top: 155px;
left: 96px;
color: white;
padding: 29px;
border-radius: 19px;
font-size: 20px;
}

.box6{
    display: inline-block;
background-color: white;
position: relative;
width: 492px;
padding: 19px 1px 6px 19px;
top: 152px;
height: 126px;
left: 94px;
border-radius: 8px;
width: 445px        

}